server:
  port: 8762

eureka:
  client:
    service-url:
      default-zone: http:localhost:8761/eureka/

spring:
  application:
    name: user
  datasource:
    url: jdbc:mysql://localhost:3306/ordinary_mylife?useUnicode=true&characterEncoding=utf8
    username: root
    password: 1234
    driver-class-name: com.mysql.jdbc.Driver

mybatis:
  mapper-locations: mapper/*.xml
  type-aliases-package: test.user.domain